<!DOCTYPE html>
<html>
<head>
    <title>DevOps Flask CI/CD Project</title>
</head>
<body>
    <h1>Hello from Fathih's DevOps Project 🚀</h1>

    <p>This Flask app is running inside a Docker container.</p>
    <p>I added this line to test the deployment.</p>
    <p>I added this line to test the GitHub Actions integration. </p>

    <h2>Deployment Info</h2>
    <ul>
        <li><strong>Environment:</strong> {{ environment }}</li>
        <li><strong>Hostname:</strong> {{ hostname }}</li>
        <li><strong>Rendered At:</strong> {{ deployed_at }}</li>
    </ul>

    <p>Health check endpoint: <code>/health</code></p>
</body>
</html>
